
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  margin: 1% 10%;

}
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin: 0 2px;
  cursor: pointer;
  border-bottom: 5px solid #828282;
}

.header {
  display: flex;
  align-items: center;
  background-color: #ff6600;
  height: 30px;
}
.header p {
  font-weight: 600;
  margin: 0 20px;
}
.header a {
  margin-right: 20px;
  text-decoration: none;
  color: white;
}
.header__login {
  display: block;
  margin-left: auto;
}

.listItems {
  height: 90vh;
  background-color: #f6f6ef;
}

.listItem {
  padding: 5px 10px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
}
.listItem__header {
  display: flex;
  align-items: center;  
}
.listItem p {
    margin: 0;
}
.listItem__header a {
  color: black;
  text-decoration: none;
}
.listItem__header p:first-child {
  color: #828282;
}
.listItem__footer {
  display: flex;
  margin-left: 2.5em;
  color: #828282;
  font-size: 8pt;
}
.listItem__footer p {
  margin-right: 5px;
}